/* Global Styling */

body, h1 {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	color: HSLA(213, 20%, 36%, 1);
}

h1 {
	margin: 0;
	padding-bottom: 10px;
}

h2, h3, h4, h5, h6 {
	font-family: 'Muli', sans-serif;
	padding: 0;
	color: HSLA(195, 100%, 29%, 1);
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

li {
	list-style-type: none;
}

/* Content Styling */
#container {
	width: 100%;
}

#map {
  width: 100%;
  height: 500px;
  display: block;
  float: left;
  margin-top: 15px;
}

#directory {
	width: 100%;
	height: 500px;
	display: block;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden; 
}

/* Popup on Map Styling */

.mapsheet-popup {
	border-radius: 2px;
	transition: display 1s ease;
}

.mapsheet-popup > img {
	width: 100%;
	border-radius: 2px;
	transition: width 1s ease;
}

.links {
	padding: 5%;
	text-align: right;
}

/* Directory Styling */

#fade {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background-image: -webkit-linear-gradient(HSLA(0, 0%, 100%, 0), HSLA(0, 0%, 100%, 1));
}

#fade > img {
	width: 45px;
	float: right;
	padding: 30px 15px 0 0;
}

#descriptions {
	margin: 0;
	padding: 0;
}

.item {
	overflow: auto;
	border-bottom: 1px solid HSLA(0, 0%, 90%, 1);
	padding: 1% 0 1% 5%;
	transition: background-color .5s ease;
}

.item:hover {
	background-color: HSLA(151, 83%, 34%, .2);
	border-radius: 2px;
	cursor: pointer;
}

.item > h4 {
	padding: 0;
	margin: 0;
}
.item > p {
	padding: 5px 0 5px 3em;
	margin: 0;
	display: block;
}

.directory-img {
	float: right;
	width: 20%;
	border-radius: 2px;
	padding-right: 5px;
}

#last {
}

/* Side by side after 880px width browser */

@media (min-width: 880px) {
}