/* Global Styling */

body, h1 {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	color: HSLA(213, 20%, 36%, 1);
}

h1 {
	margin: 0;
	padding-bottom: 10px;
}

h2, h3, h4, h5, h6 {
	font-family: 'Muli', sans-serif;
	padding: 0;
	color: HSLA(195, 100%, 29%, 1);
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

/* Content Styling */
#container {
	width: 100%;
	height: 500px;
}

#map {
  width: 100%;
  height: 100%;
  display: block;
  float: left;
  border: 3px solid HSLA(151, 83%, 34%, 1);
}

#sidebar {
	width: 100%;
	height: 100%;
	display: block;
	float: right;
}

/* Popup on Map Styling */

.mapsheet-popup {
	border-radius: 2px;
	transition: display 1s ease;
}

.mapsheet-popup > img {
	width: 100%;
	border-radius: 2px;
	transition: width 1s ease;
}

.links {
	padding: 5%;
}

/* Sidebar Styling */

#sidebar {
	position: relative;
}

#fade {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background-image: -webkit-linear-gradient(HSLA(0, 0%, 100%, 0), HSLA(0, 0%, 100%, 1));
}

#fade > img {
	width: 45px;
	float: right;
	padding: 30px 15px 0 0;
}

#descriptions {
	height: 450px;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

	/* Hides Scrollbar But Still Enables Scrolling */
#descriptions::-webkit-scrollbar {
	display: none;
}

.item {
	border-bottom: 1px solid HSLA(0, 0%, 90%, 1);
	padding: 1% 0 1% 5%;
	transition: background-color .5s ease;
}

.item:hover {
	background-color: HSLA(151, 83%, 34%, .5);
	border-radius: 2px;
	cursor: pointer;
}

#last {
	margin-bottom: 100px;
}

/* Side by side after 880px width browser */

@media (min-width: 880px) {
	#map {
		width: 49%;
	}
	#sidebar {
		width: 50%;
	}
}